{{page-title @model.title}}

<div class="action-container flex-start">
    <LinkTo @route="movies">
        <button type="button">&lt; Back</button>
    </LinkTo>
</div>

<div class="movie-wrapper">
    <img class="movie-poster" alt={{@model.title}} src={{@model.posterUrl}} />
    <div class="movie-details">
        <h1 class="movie-title">{{@model.title}}</h1>
        <p>Directed by: {{@model.director}}</p>
        <p>Released: {{@model.releaseDate}}</p>
        <p>Genre: {{@model.genre}}</p>
        <p>Rotten Tomatoes score: {{@model.rottenTomatoes}}</p>
        <p>{{@model.description}}</p>

        {{#if this.editing}}
            <button {{on "click" this.cancel}} type="button">Cancel</button>
            <button {{on "click" this.saveMovie}} type="button">Save</button>
        {{else}}
            <button {{on "click" this.editMovie}} type="button">Edit</button>
        {{/if}}

        <div class="reviews">
            <p>Reviews:</p>
            {{#if @model.reviews.length}}
                {{#each @model.reviews as |review|}}
                    <div class="review-wrapper">
                        <p>"{{review.review}}"</p>
                        <p>- {{review.reviewer}}</p>
                    </div>
                {{/each}}
            {{else}}
                No reviews yet!
            {{/if}}

            <div class="add-review-wrapper">
                {{#if this.addingReview}}
                    <Input
                        @id="reviewer-input"
                        @placeholder="Your name"
                        @value={{this.newReviewer}}
                    />
                    <Input
                        @id="review-input"
                        @placeholder="Your review"
                        @value={{this.newReview}}
                    />
                    <div class="add-review-button-wrapper">
                        <button {{on "click" this.cancelAddReview}} type="button">Cancel</button>
                        <button {{on "click" this.saveReview}} type="button">Save</button>
                    </div>
                {{else}}
                    <div class="add-review-button-wrapper">
                        <button {{on "click" this.addReview}} type="button">Add Review</button>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{outlet}}